<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Productos</h1>
        <p>
          <%= link_to 'Nuevo Producto', new_product_path, class: "btn btn-primary my-2", remote: true, "data-bs-toggle" => "modal", "data-bs-target" => "#exampleModal" if user_signed_in? %>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="product_cards">
        <% @products.each do |product| %>
          <%= render 'product_card', product: product%>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <%= yield %>
      </div>
    </div>
  </div>
</main>